/* $Id$ */

#stringoverrides-admin textarea {
  width: 100%;
  height: 1.7em;
}

#stringoverrides-admin .stringoverrides-original {
  width: 50%;
}

#stringoverrides-admin .stringoverrides-replacement {
  width: 50%;
}

#stringoverrides-admin .stringoverrides-enabled {
  text-align: center;
}
